body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Poppins';
  background-color: #3D3D3D;
}

#jam-canvas {
  width: 100%;
}

#nav {
  width: 100vw;
  height: 180px;
  margin: 0 auto;
  display: inline-flex;
  position: absolute;
  background: radial-gradient(2541.00px at 99.65% 49.73%, #B46A3F 0%, #DC7E50 13.14%, rgba(220, 131, 80, 0.86) 25.41%, #DC8350 50.74%, #CE7846 73.58%, #DC8350 87.19%, #B46A3F 100%);
}

.select-sub-header {
  font-size: 18px;
}

#header {
  width: 100vw;
  margin-top: .8em;
  font-size: 7em;
  font-family: 'Musicnet';
  font-weight: lighter;
  text-align: center;
  align-self: center;
}

#start {
  left: 2.9em;
  font-size: 2em;
  color: white;
  padding: .1em .9em .1em .9em;
  letter-spacing: 1px;
  position: absolute;
  align-self: center;
  background: #3D3D3D;
  border: 1px solid #3D3D3D;
}

#tempo {
  top: -.3em;
  position: absolute;
  right: 5.1em; 
  display: inline-block; 
  align-items: center;
}

#tempo-select {
  position: relative;
  left: 2.42em;
  padding-top: .2em;
  margin: 0;
  align-self: center;
}

#synth-container {
  position: relative;
  width: 100vw;
  margin-top: 12vh;
  align-items: center;
  height: 544px;
  display: inline-block;
  justify-content: center;
}

.sequencer {
  display: inline-block;
}

#tempo-header {
  background-color: rgba(255, 255,255,0);
  border-bottom: none;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-size: 1.55em;
}

#lead-container {
  margin-left: 1.8em;
  display: inline-block;
}

.synth-seq-header {
  width: 940px;
  margin-left: 2.5em;
  background-color: #46ABAA;
}

#drum-seq-header {
  width: 1932px;
  background-color: #46ABAA;
}

#drum-seq-footer {
  width: 1684px;
  background-color: #46ABAA;
  border-bottom: 1px solid #46ABAA;
  text-align: left;
  padding: 0;
}

.drum-step {
  padding: 0 2.4em 0 2.4em;
  margin: 0 15.35em 0 0;
}

#step-13 {
  margin-right: 5em;
}

.select-header {
  margin-bottom: 0;
  width: 126px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  padding: .1em .9em .1em .9em;
  background-color: #DC8350;
  border-bottom: 1px solid #DC8358;
}

option:checked {
  box-shadow: 0 0 10px 100px #DC8350 inset;
  height: 1em;
  margin-bottom: .8em;
  padding-left: 0;
  padding-right: 0;
}

.list-select {
  width: 162px;
  height: 365px;
  outline: none;
  color: white;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 1em;
  background-color: #46ABAA;
  border-top: 0;
}

.vol-slider rect {
  fill: rgba(255, 255, 255, .64);

}

.vol-slider rect:nth-child(2) {
  fill: #DC8350;
}

.vol-slider circle {
  fill: white;
  stroke: none;
}

select {
  -webkit-border-radius: 0;
  border: 0;
  outline: 1px solid #DC8350;
  outline-offset: -1px;
}

option {
  padding-top: .6em;
  padding-bottom: .6em;
  height: 2em;
  text-align: center;
}

#lead-seq {
  margin: 0;
  display: inline-block;
  padding-left: 40px;
}

#lead-vol {
  display: inline-block;
  padding-left: 135px;
}

#bass-container {
  padding-left: .42em;
  display: inline-block;
}

.select-container {
  display: inline-block;
  margin: 60px;
  top: -.65em;
  position: relative;
  margin-right: 1em;
  width: 167px;
  align-content: center;
}

#bass-seq {
  padding-left: 2.5em;
  display: inline-block;
}

#bass-vol {
  display: inline-block;
  padding-left: 140px;
}

#bass-select-container {
  position: relative;
}

.effect {
  text-align: center;
  align-items: center;
  text-align-last: center;
  height: 34px;
  width: 162px;
  padding-top: 0;
  margin: 0 0 .3em 0;
  border: 1px solid #DC8350;
}

#drum-container {
  position: relative;
  display: inline-flex;
  margin-left: .48em;
}

#drum-seq-container {
  display: inline-block;
}

#drum-select-container {
  width: 162px;
  height: 434px;
  outline: none;
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: #46ABAA;
  border-top: 0;
  margin: .7em 64px .4em 81px;
}

#drum-effect-container {
  width: 162px;
  height: 434px;
  outline: none;
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: #46ABAA;
  border-top: 0;
  margin-left: 64px;
}

.drum-select {
  outline: none;
  width: 8em;
  margin-top: .72em;
  margin-bottom: .714em;
  width: 126px;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 1px;
  text-align-last: center;
  padding: .1em .9em .1em .9em;
  background-color: #46ABAA;
}


.drum-effect {
  letter-spacing: 1px;
  border: none;
  background-color: #46ABAA;
  color: white;
  font-size: 18px;
  width: 140px;
  padding: .8em;
}

.drum-effect:focus {
  outline: none;
}

#drum-select-header {
  margin: 0;
}

#drum-effect-header {
  margin: 0;
}

#drum-vol {
  display: inline-block;
  padding-left: 116px;
}

.seq-title {
  padding: 0;
  padding-left: 1.4em;
  letter-spacing: .14em;
  margin: 0;
  color: white;
  display: inline-block;
}

#bass-title {
  display: inline-block;
}

#drum-title {
  display: inline-block;
  padding-left: 96px
}

h2 {
  font-family: 'Poppins', sans-serif;
  padding-top: 80px;
  padding-left: 50px;
}

circle {
  stroke: #3D3D3D;
  stroke-width: .3em;
}

path:nth-child(1) {
  fill-opacity: 1;
}

path:nth-child(4) {
  fill: #46ABAA;
  fill-opacity: 0;
}

path:nth-child(5) {
  fill: #DC8350;
  fill-opacity: 1;
}

#footer {
  width: 100vw;
  height: 140px;
  margin: 0 auto;
  bottom: -2.3em;
  display: inline-flex;
  position: relative;
  background: radial-gradient(2541.00px at 99.65% 49.73%, #B46A3F 0%, #DC7E50 13.14%, rgba(220, 131, 80, 0.86) 25.41%, #DC8350 50.74%, #CE7846 73.58%, #DC8350 87.19%, #B46A3F 100%); 
}

#copyright {
  width: 100vw;
  margin-bottom: 2.2em;
  font-size: 1.5em;
  font-family: 'Poppins';
  font-weight: lighter;
  text-align: center;
  align-self: center;
}


@media only screen and (min-height: 469px) and (max-height: 528px) {
  .seq-title {
    font-size: 1.2em; /*this one is in width as well*/
  }
  .list-select {
    height: 140px;
  }
  #drum-select-container {
    height: 234.5px;
  }
  #drum-effect-container {
    height: 234.5px;
  }
  #nav {
    display: none;
  }
  #header {
    display: none;
  }
  #synth-container {
    height: 320px;
    margin-top:, -5em;
  }
}

@media only screen and (min-height: 529px) and (max-height: 588px) {
  .seq-title {
    font-size: 1.2em;
  }
  .list-select {
    height: 170px;
  }
  #drum-select-container {
    height: 264.5px;
  }
  #drum-effect-container {
    height: 264.5px;
  }
  #nav {
    display: none;
  }
  #header {
    display: none;
  }
  #synth-container {
    height: 350px;
    margin-top: -5em;
  }
}

@media only screen and (min-height: 589px) and (max-height: 658px) {
  .seq-title {
    font-size: 1.2em;
  }
  .list-select {
    height: 180px;
  }
  #drum-select-container {
    height: 274.5px;
  }
  #drum-effect-container {
    height: 274.5px;
  }
  #nav {
    height: 40px;
  }
  #header {
    font-size: 3em;
  }
  #synth-container {
    height: 350px;
    margin-top: -1em;
  }
}

@media only screen and (min-height: 659px) and (max-height: 738px) {
  .seq-title {
    font-size: 1.3em;
  }
  .list-select {
    height: 204px;
  }
  #drum-select-container {
    height: 294.5px;
  }
  #drum-effect-container {
    height: 294.5px;
  }
  #nav {
    height: 60px;
  }
  #header {
    font-size: 3.5em;
  }
  #synth-container {
    height: 370px;
    margin-top: .25vh;
  }
}

@media only screen and (min-height: 739px) and (max-height: 788px) {
  .list-select {
    height: 228px;
  }
  #drum-select-container {
    height: 314.5px;
  }
  #drum-effect-container {
    height: 314.5px;
  }
  #nav {
    height: 80px;
  }
  #header {
    font-size: 4em;
  }
  #synth-container {
    height: 400px;
    margin-top: 3vh;
  }
}

@media only screen and (min-height: 789px) and (max-height: 838px) {
  .list-select {
    height: 248px;
  }
  #drum-select-container {
    height: 334.5px;
  }
  #drum-effect-container {
    height: 334.5px;
  }
  #nav {
    height: 90px;
  }
  #header {
    font-size: 4.5em;
  }
  #synth-container {
    height: 420px;
    margin-top: 4vh;
  }
}

@media only screen and (min-height: 839px) and (max-height: 888px) {
  .list-select {
    height: 268px;
  }
  #drum-select-container {
    height: 354.5px;
  }
  #drum-effect-container {
    height: 354.5px;
  }
  #nav {
    height: 100px;
  }
  #header {
    font-size: 4.5em;
  }
  #synth-container {
    height: 440px;
    margin-top: 4.75vh;
  }
}

@media only screen and (min-height: 889px) and (max-height: 938px) {
  .list-select {
    height: 288px;
  }
  #drum-select-container {
    height: 374.5px;
  }
  #drum-effect-container {
    height: 374.5px;
  }
  #nav {
    height: 110px;
  }
  #header {
    font-size: 4.5em;
  }
  #synth-container {
    height: 460px;
    margin-top: 5.5vh;
  }
}

@media only screen and (min-height: 939px) and (max-height: 999px) {
  .list-select {
    height: 308px;
  }
  #drum-select-container {
    height: 394.5px;
  }
  #drum-effect-container {
    height: 394.5px;
  }
  #nav {
    height: 120px;
  }
  #header {
    font-size: 4.5em;
  }
  #synth-container {
    height: 480px;
    margin-top: 6.5vh;
  }
}

@media only screen and (min-height: 1000px) and (max-height: 1048px) {
  .list-select {
    height: 328px;
  }
  #drum-select-container {
    height: 414.5px;
  }
  #drum-effect-container {
    height: 414.5px;
  }
  #nav {
    height: 130px;
  }
  #header {
    font-size: 4.5em;
  }
  #synth-container {
    height: 500px;
    margin-top: 7.5vh;
  }
}

@media only screen and (min-height: 1049px) and (max-height: 1084px) {
  #nav {
    height: 140px;
  }
  #header {
    font-size: 5em;
  }
  #synth-container {
    height: 520px;
    margin-top: 8vh;
  }
}

@media only screen and (min-height: 1085px) and (max-height: 1124px) {
  #nav {
    height: 160px;
  }
  #header {
    font-size: 6em;
  }
  #synth-container {
    height: 530px;
    margin-top: 10vh;
  }
}


/*width*/

@media only screen and (min-width: 775px) and (max-width: 824px) {
  .synth-seq-header {
    width: 292px;
  }
  #drum-seq-header {
    width: 592px;
  }
  .list-select {
    width: 53px;
  }
  .select-sub-header {
    font-size: 6px;
    padding-left: 0px;
  }
  .select-container {
    width: 69px;
    margin-right: 0px;
  }
  #lead-select-container {
    width: 55.5px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 55px;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 55px;
    margin-left: .4em;
  }
  .drum-effect {
    width: 29px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 37px;
    font-size: 9px;
  }
  .drum-select {
    width: 27px;
  }
  #bass-select-header {
    width: 37px;
  }
  #drum-effect-header {
    width: 39px;
  }
  #drum-select-header {
    width: 39px;
  }
  .effect {
    width: 53px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 825px) and (max-width: 874px) {
  .synth-seq-header {
    width: 318px;
  }
  #drum-seq-header {
    width: 644px;
  }
  .list-select {
    width: 53px;
  }
  .select-sub-header {
    font-size: 6px;
    padding-left: 0px;
  }
  .select-container {
    width: 69px;
    margin-right: 0px;
  }
  #lead-select-container {
    width: 55.5px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 55px;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 55px;
    margin-left: .4em;
  }
  .drum-effect {
    width: 29px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 37px;
    font-size: 9px;
  }
  .drum-select {
    width: 27px;
  }
  #bass-select-header {
    width: 37px;
  }
  #drum-effect-header {
    width: 39px;
  }
  #drum-select-header {
    width: 39px;
  }
  .effect {
    width: 53px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}


@media only screen and (min-width: 875px) and (max-width: 924px) {
  .vol-slider {
    position: relative;
    top: 5px;
  }
  .vol-slider rect {
    height: 5px;
  }
  .seq-title {
    font-size: .7em;
  }
  .synth-seq-header {
    width: 332px;
    height: 15px;
  }
  #drum-seq-header {
    width: 670px;
  }
  .list-select {
    width: 61px;
    height: 345px;
  }
  .select-sub-header {
    font-size: 6px;
    padding-left: 0px;
  }
  .select-container {
    width: 77px;
    height: 433px;
    margin-right: 0px;
    top: -.95em;
  }
  #lead-select-container {
    width: 63.5px;
    height: 426px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 63px;
    height: 426px;
    margin-right: .4em;
    margin-left: 34px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 63px;
    height: 426px;
    margin-left: .4em;
  }
  .drum-effect {
    width: 37px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header{
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 45px;
    font-size: 9px;
  }
  .drum-select {
    width: 35px;
  }
  #bass-select-header {
    width: 45px;
  }
  #drum-effect-header {
    width: 47px;
  }
  #drum-select-header {
    width: 47px;
  }
  .effect {
    width: 61px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 925px) and (max-width: 974px) {
  .synth-seq-header {
    width: 356px;
  }
  #drum-seq-header {
    width: 722px;
  }
  .list-select {
    width: 67px;
  }
  .select-sub-header {
    font-size: 8px;
    padding-left: 0px;
  }
  .select-container {
    width: 77px;
    margin-right: 0px;
  }
  #lead-select-container {
    width: 69.5px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 69px;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 69px;
    margin-left: .4em;
  }
  .drum-effect {
    width: 43px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header{
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 49px;
    font-size: 10px;
  }
  .drum-select {
    width: 41px;
  }
  #bass-select-header {
    width: 50px;
  }
  #drum-effect-header {
    width: 51px;
  }
  #drum-select-header {
    width: 52px;
  }
  .effect {
    width: 67px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 975px) and (max-width: 1024px) {
  .synth-seq-header {
    width: 368px;
  }
  #drum-seq-header {
    width: 742px;
  }
  .list-select {
    width: 73px;
  }
  .select-sub-header {
    font-size: 8px;
    padding-left: 0px;
  }
  .select-container {
    width: 93px;
    margin-right: 0px;
  }
  #lead-select-container {
    width: 75.5px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 75px;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 75px;
    margin-left: .4em;
  }
  .drum-effect {
    width: 49px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header{
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 55px;
    font-size: 10px;
  }
  .drum-select {
    width: 47px;
  }
  #bass-select-header {
    width: 56px;
  }
  #drum-effect-header {
    width: 57px;
  }
  #drum-select-header {
    width: 58px;
  }
  .effect {
    width: 73px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1074px) {
  .vol-slider {
    position: relative;
    top: 5px;
  }
  .vol-slider rect {
    height: 5px;
  }
  .seq-title {
    font-size: .8em;
  }
  .synth-seq-header {
    width: 388px;
    height: 19px;
  }
  #drum-seq-header {
    width: 782px;
  }
  .list-select {
    width: 73px;
    height: 346px;
  }
  .select-sub-header {
    font-size: 8px;
    padding-left: 0px;
  }
  .select-container {
    width: 93px;
    height: 434px;
    margin-right: 0px;
    top: -.9em;
  }
  #lead-select-container {
    width: 75.5px;
    height: 426.5px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 75px;
    height: 426.5px;
    margin-right: .4em;
    margin-left: 34px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 75px;
    height: 426.5px;
    margin-left: .4em;
  }
  .drum-effect {
    width: 49px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 55px;
    font-size: 10px;
  }
  .drum-select {
    width: 47px;
  }
  #bass-select-header {
    width: 56px;
  }
  #drum-effect-header {
    width: 57px;
  }
  #drum-select-header {
    width: 58px;
  }
  .effect {
    width: 73px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1075px) and (max-width: 1124px) {
  .synth-seq-header {
    width: height;
  }
  #drum-seq-header {
    width: 808px;
  }
  .list-select {
    width: 81px;
  }
  .select-sub-header {
    font-size: 9px;
    padding-left: 0px;
  }
  .select-container {
    width: 101px;
    margin-right: 0px;
  }
  #lead-select-container {
    width: 83.5px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 83px;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 83px;
    margin-left: .4em;
  }
  .drum-effect {
    width: 57px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 61px;
    font-size: 11px;
  }
  .drum-select {
    width: 55px;
  }
  #bass-select-header {
    width: 62px;
  }
  #drum-effect-header {
    width: 63px;
  }
  #drum-select-header {
    width: 64px;
  }
  .effect {
    width: 81px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1125px) and (max-width: 1174px) {
  .synth-seq-header {
    width: 424px;
  }
  #drum-seq-header {
    width: 854px;
  }
  .list-select {
    width: 81px;
  }
  .select-sub-header {
    font-size: 9px;
    padding-left: 0px;
  }
  .select-container {
    width: 101px;
    margin-right: 0px;
  }
  #lead-select-container {
    width: 83.5px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 83px;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 83px;
    margin-left: .4em;
  }
  .drum-effect {
    width: 57px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 61px;
    font-size: 11px;
  }
  .drum-select {
    width: 55px;
  }
  #bass-select-header {
    width: 62px;
  }
  #drum-effect-header {
    width: 63px;
  }
  #drum-select-header {
    width: 64px;
  }
  .effect {
    width: 81px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1175px) and (max-width: 1224px) {
  .vol-slider {
    position: relative;
    top: 5px;
  }
  .vol-slider rect {
    height: 5px;
  }
  .seq-title {
    font-size: .9em;
  }
  .synth-seq-header {
    width: 455px;
    height: 20px;
  }
  #drum-seq-header {
    width: 917px;
  }
  .list-select {
    width: 81px;
    height: 346px;
  }
  .select-sub-header {
    font-size: 9px;
    padding-left: 0px;
  }
  .select-container {
    width: 101px;
    height: 434px;
    margin-right: 0px;
    top: -.9em;
  }
  #lead-select-container {
    width: 83.5px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 83px;
    height: 426.5px;
    margin-right: .4em;
    margin-left: 34px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 83px;
    height: 426.5px;
    margin-left: .4em;
  }
  .drum-effect {
    width: 57px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 61px;
    font-size: 11px;
  }
  .drum-select {
    width: 55px;
  }
  #bass-select-header {
    width: 62px;
  }
  #drum-effect-header {
    width: 63px;
  }
  #drum-select-header {
    width: 64px;
  }
  .effect {
    width: 81px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1225px) and (max-width: 1274px) {
  .synth-seq-header {
    width: 480px;
  }
  #drum-seq-header {
    width: 968px;
  }
  .list-select {
    width: 87px;
  }
  .select-sub-header {
    font-size: 12px;
  }
  .select-container {
    width: 107px;
    margin-right: 0px;
  }
  #lead-select-container {
    width: 89.5px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 89px;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 89px;
    margin-left: .4em;
  }
  .drum-effect {
    width: 63px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 62px;
    font-size: 14px;
  }
  .drum-select {
    width: 61px;
  }
  #bass-select-header {
    width: 62px;
  }
  #drum-effect-header {
    width: 64px;
  }
  #drum-select-header {
    width: 64px;
  }
  .effect {
    width: 87px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1275px) and (max-width: 1324px) {
  .synth-seq-header {
    width: 500px;
  }
  #drum-seq-header {
    width: 1000px;
  }
  .list-select {
    width: 93px;
  }
  .select-sub-header {
    font-size: 12px;
  }
  .select-container {
    width: 113px;
    margin-right: 0px;
  }
  #lead-select-container {
    width: 95.5px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 95px;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 95px;
    margin-left: .4em;
  }
  .drum-effect {
    width: 69px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 68px;
    font-size: 14px;
  }
  .drum-select {
    width: 67px;
  }
  #bass-select-header {
    width: 68px;
  }
  #drum-effect-header {
    width: 70px;
  }
  #drum-select-header {
    width: 70px;
  }
  .effect {
    width: 93px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1325px) and (max-width: 1374px) {
  .vol-slider {
    position: relative;
    top: 5px;
  }
  .vol-slider rect {
    height: 6px;
  }
  .seq-title {
    font-size: 1em;
  }
  .synth-seq-header {
    width: 522px;
    height: 25px;
  }
  #drum-seq-header {
    width: 1051px;
  }
  .list-select {
    width: 93px;
    height: 346px;
  }
  .select-sub-header {
    font-size: 12px;
  }
  .select-container {
    width: 113px;
    height: 434px;
    margin-right: 0px;
    top: -.8em;
  }
  #lead-select-container {
    width: 95.5px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 95px;
    height: 426.5px;
    margin-right: .4em;
    margin-left: 34px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 95px;
    height: 426.5px;
    margin-left: .4em;
  }
  .drum-effect {
    width: 69px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 68px;
    font-size: 14px;
  }
  .drum-select {
    width: 67px;
  }
  #bass-select-header {
    width: 68px;
  }
  #drum-effect-header {
    width: 70px;
  }
  #drum-select-header {
    width: 70px;
  }
  .effect {
    width: 93px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1375px) and (max-width: 1424px) {
  .synth-seq-header {
    width: 540px;
  }
  #drum-seq-header {
    width: 1090px;
  }
  .list-select {
    width: 99px;
  }
  .select-sub-header {
    font-size: 13px;
  }
  .select-container {
    width: 119px;
    margin-right: 0px;
  }
  #lead-select-container {
    width: 106px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 101px;
    margin-right: .6em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 101px;
    margin-left: .6em;
  }
  .drum-effect {
    width: 75px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .4em;
  }
  #bass-seq-header {
    margin-left: .4em;
  }
  #bass-select-container {
    margin-left: .4em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 72px;
    font-size: 15px;
  }
  .drum-select {
    width: 73px;
  }
  #bass-select-header {
    width: 72px;
  }
  #drum-effect-header {
    width: 74px;
  }
  #drum-select-header {
    width: 74px;
  }
  .effect {
    width: 99px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1425px) and (max-width: 1467px) {
  .synth-seq-header {
    width: 561.5px;
  }
  #drum-seq-header {
    width: 1133px;
  }
  .list-select {
    width: 103px;
  }
  .select-sub-header {
    font-size: 13px;
  }
  .select-container {
    width: 123px;
    margin-right: 0px;
  }
  #lead-select-container {
    width: 110px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 105px;
    margin-right: .6em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 105px;
    margin-left: .6em;
  }
  .drum-effect {
    width: 79px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .4em;
  }
  #bass-seq-header {
    margin-left: .4em;
  }
  #bass-select-container {
    margin-left: .4em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 76px;
    font-size: 15px;
  }
  .drum-select {
    width: 77px;
  }
  #bass-select-header {
    width: 76px;
  }
  #drum-effect-header {
    width: 78px;
  }
  #drum-select-header {
    width: 78px;
  }
  .effect {
    width: 103px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1468px) and (max-width: 1534px) {
  .seq-title {
    font-size: 1.1em;
  }
  .synth-seq-header {
    width: 576px;
  }
  #drum-seq-header {
    width: 1162px;
  }
  .list-select {
    width: 110px;
    height: 346px;
  }
  .select-sub-header {
    font-size: 13px;
  }
  .select-container {
    width: 130px;
    height: 433px;
    margin-right: 0px;
    top: -.75em;
  }
  #lead-select-container {
    width: 117px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 112px;
    height: 426.5px;
    margin-right: .6em;
    margin-left: 34px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 112px;
    height: 426.5px;
    margin-left: .6em;
  }
  .drum-effect {
    width: 76px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .4em;
  }
  #bass-seq-header {
    margin-left: .4em;
  }
  #bass-select-container {
    margin-left: .4em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 83px;
    font-size: 15px;
  }
  .drum-select {
    width: 84px;
  }
  #bass-select-header {
    width: 83px;
  }
  #drum-effect-header {
    width: 85px;
  }
  #drum-select-header {
    width: 85px;
  }
  .effect {
    width: 110px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1535px) and (max-width: 1574px) {
  .synth-seq-header {
    width: 588px;
  }
  #drum-seq-header {
    width: 1186px;
  }
  .list-select {
    width: 122px;
  }
  .select-sub-header {
    font-size: 14px;
  }
  .select-container {
    width: 142px;
    margin-right: 0px;
  }
  #lead-select-container {
    width: 136px;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 124px;
    margin-right: 1.1em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 124px;
    margin-left: 1.1em;
  }
  .drum-effect {
    width: 88px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .4em;
  }
  #bass-seq-header {
    margin-left: .4em;
  }
  #bass-select-container {
    margin-left: 1.1em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 93px;
    font-size: 16px;
  }
  .drum-select {
    width: 100px;
  }
  #bass-select-header {
    width: 93px;
  }
  #drum-effect-header {
    width: 96px;
  }
  #drum-select-header {
    width: 96px;
  }
  .effect {
    width: 122px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1575px) and (max-width: 1624px) {
  .seq-title {
    font-size: 1.2em;
  }
  .synth-seq-header {
    width: 602px;
  }
  #drum-seq-header {
    width: 1215px;
  }
  .list-select {
    width: 122px;
    height: 345px;
  }
  .select-sub-header {
    font-size: 14px;
  }
  .select-container {
    width: 142px;
    height: 431px;
    margin-right: 0px;
    top: -.8em;
  }
  #lead-select-container {
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 124px;
    height: 428px;
    margin-right: 1.4em;
    margin-left: 34px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 124px;
    height: 428px;
    margin-left: 1.4em;
  }
  .drum-effect {
    width: 88px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .4em;
  }
  #bass-seq-header {
    margin-left: .4em;
  }
  #bass-select-container {
    margin-left: 1.4em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 93px;
    font-size: 16px;
  }
  .drum-select {
    width: 100px;
  }
  #bass-select-header {
    width: 93px;
  }
  #drum-effect-header {
    width: 95);
  }
  #drum-select-header {
    width: 96px;
  }
  .effect {
    width: 122px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1625px) and (max-width: 1654px) {
  .synth-seq-header {
    width: 606px;
  }
  #drum-seq-header {
    width: 1240px;
  }
  .list-select {
    width: 126px;
  }
  .select-sub-header {
    font-size: 16px;
  }
  .select-container {
    width: 146px;
    margin-right: .4em;

  }
  #lead-select-container {
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 128px;
    margin-right: 1.7em;
    margin-left: 35px;
  }
  #drum-effect-container {
    width: 128px;
    margin-left: 1.7em;
  }
  .drum-effect {
    width: 92px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: 1.5em;
  }
  #bass-seq-header {
    margin-left: 1.5em;
  }
  #bass-select-container {
    margin-left: 1.7em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 94px;
    font-size: 18px;
  }
  #bass-select-header {
    width: 94px;
  }
  #drum-effect-header {
    width: 95px;
  }
  #drum-select-header {
    width: 96px;
  }
  .effect {
    width: 126px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1655px) and (max-width: 1702px) {
  .synth-seq-header {
    width: 606px;
  }
  #drum-seq-header {
    width: 1240px;
  }
  .list-select {
    width: 130px;
  }
  .select-sub-header {
    font-size: 16px;
  }
  .select-container {
    width: 150px;
    margin-right: .75em;
  }
  #lead-select-container {
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 132px;
    margin-right: 2em;
    margin-left: 35px;
  }
  #drum-effect-container {
    width: 132px;
    margin-left: 2.2em;
  }
  .drum-effect {
    width: 96px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: 1.5em;
  }
  #bass-seq-header {
    margin-left: 1.5em;
  }
  #bass-select-container {
    margin-left: 2.2em;
  }
  #bass-container {
    padding-left: 0px;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 98px;
    font-size: 18px;
  }
  #bass-select-header {
    width: 98px;
  }
  #drum-effect-header {
    width: 99px;
  }
  #drum-select-header {
    width: 100px;
  }
  .effect {
    width: 130px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1703px) and (max-width: 1724px) {
  .seq-title {
    font-size: 1.3em;
  }
  .synth-seq-header {
    width: 614px;
  }
  #drum-seq-header {
    width: 1271px;
  }
  .list-select {
    width: 134px;
    height: 364px;
  }
  .select-sub-header {
    font-size: 16px;
  }
  .select-container {
    width: 154px;
    height: 430px;
    margin-right: .75em
    top: -.75em;
  }
  #lead-select-container {
    margin-left: 3em;
  }
  #drum-select-container {
    width: 136px;
    margin-right: 2em;
    margin-left: 38px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 136px;
    height: 430px;
    margin-left: 2.2em;
  }
  .drum-effect {
    width: 100px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: 2em;
  }
  #bass-seq-header {
    margin-left: 2em;
  }
  #bass-select-container {
    margin-left: 2.2em;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 102px;
    font-size: 18px;
  }
  #bass-select-header {
    width: 102px;
  }
  #drum-effect-header {
    width: 103px;
  }
  #drum-select-header {
    width: 104px;
  }
  .effect {
    width: 134px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 2em;
  }
}

@media only screen and (min-width: 1725px) and (max-width: 1774px) {
  .seq-title {
    font-size: 1.3em;
  }
  .synth-seq-header {
    width: 614px;
  }
  #drum-seq-header {
    width: 1271px;
  }
  .list-select {
    width: 134px;
    height: 345px;
  }
  .select-sub-header {
    font-size: 16px;
  }
  .select-container {
    width: 154px;
    height: 430px;
    top: -.7em;
  }
  #drum-select-container {
    height: 410px;
    width: 136px;
    margin-right: 2.2em;
    margin-left: 61px;
  }
  #drum-effect-container {
    width: 136px;
    height: 410px;
    margin-left: 2.2em;
  }
  .drum-effect {
    width: 100px;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: .6em;
  }
  #bass-seq {
    padding-left: 2em;
  }
  #bass-seq-header {
    margin-left: 2em;
  }
  #bass-select-container {
    margin-left: 2.2em;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 102px;
    font-size: 18px;
  }
  #bass-select-header {
    width: 101px;
  }
  #drum-effect-header {
    width: 104px;
  }
  #drum-select-header {
    width: 104px;
  }
  .effect {
    width: 134px;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em
  }
} 
@media only screen and (min-width: 1775px) and (max-width: 1814px) {
  .synth-seq-header {
    width: 616px;
  }
  #drum-seq-header {
    width: 1274.5px;
  }
  .list-select {
    width: 140px;
  }
  #drum-select-container {
    width: 142px;
    margin-right: 2.6em;
    margin-left: 74.5px;
  }
  #drum-effect-container {
    width: 142px;
    margin-left: 2.6em;
  }
  #lead-seq {
    padding-left: 0px;
  }
  #lead-container {
    margin-left: 1.45em;
  }
  #bass-seq {
    padding-left: 2em;
  }
  #bass-seq-header {
    margin-left: 2em;
  }
  #bass-select-container {
    margin-left: 2.6em;
  }
  #lead-seq-header {
    margin-left: 0px;
  }
  .select-header {
    width: 104px;
  }
  #drum-effect-header {
    width: 106px;
  }
  #drum-select-header {
    width: 106px;
  }
  .effect {
    width: 138px;
  }
  #start {
    font-size: 1.6em;
    margin-left: .3em
  }
}

@media only screen and (min-width: 1815px) and (max-width: 1854px) {
  .synth-seq-header {
    width: 617.5px;
  }
  #drum-seq-header {
    width: 1285px;
  }
  .list-select {
    width: 140px;
  }
  #drum-select-container {
    width: 142px;
    margin-right: 3.3em;
    margin-left: 80px;
  }
  #drum-effect-container {
    width: 142px;
    margin-left: 3.2em;
  }
  #lead-seq {
    padding-left: 14px;
  }
  #bass-seq {
    padding-left: 2.3em;
  }
  #bass-seq-header {
    margin-left: 2.3em;
  }
  #bass-select-container {
    margin-left: 3.4em;
  }
  #lead-seq-header {
    margin-left: .9em;
  }
  .select-header {
    width: 104px;
  }
  #drum-effect-header {
    width: 106px;
  }
  #drum-select-header {
    width: 106px;
  }
  .effect {
    width: 138px;
  }
  #start {
    font-size: 1.6em;
    margin-left: .3em
  }
}

@media only screen and (min-width: 1855px) and (max-width: 1894px) {
  .synth-seq-header {
    width: 620px;
  }
  #drum-seq-header {
    width: 1288px;
  }
  .list-select {
    width: 140px;
  }
  #drum-select-container {
    width: 142px;
  }
  #drum-effect-container {
    width: 142px;
    margin-left: 3.45em;
  }
  #lead-seq {
    padding-left: 18px;
  }
  #bass-seq {
    padding-left: 2.5em;
  }
  #lead-seq-header {
    margin-left: 1.1em;
  }
  .select-header {
    width: 104px;
  }
  #drum-effect-header {
    width: 106px;
  }
  #drum-select-header {
    width: 106px;
  }
  .effect {
    width: 138px;
  }
  #start {
    font-size: 1.6em;
    margin-left: .3em
  }
}

@media only screen and (min-width: 1895px) and (max-width: 1934px) {
  .synth-seq-header {
    width: 640px;
  }
  #drum-seq-header {
    width: 1329.5px;
  }
  .list-select {
    width: 144px;
  }
  #drum-select-container {
    width: 146px;
  }
  #drum-effect-container {
    width: 146px;
  }
  #lead-seq {
    padding-left: 24px;
  }
  #lead-seq-header {
    margin-left: 1.5em;
  }
  .select-header {
    width: 108px;
  }
  #drum-effect-header {
    width: 110px;
  }
  #drum-select-header {
    width: 110px;
  }
  .effect {
    width: 142px;
  }
  #start {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 1935px) and (max-width: 1974px) {
/*      // #tempo right 5.4em  */
  .synth-seq-header {
    width: 660px;
  }
  #drum-seq-header {
    width: 1371px;
  }
  .list-select {
    width: 148px;
  }
  #drum-select-container {
    width: 150px;
    margin-right: 3.5em;
  }
  #drum-effect-container {
    width: 150px;
  }
  #lead-seq {
    padding-left: 27px;
  }
  #lead-seq-header {
    margin-left: 1.7em;
  .select-header {
    width: 112px;
  }
  #drum-effect-header {
    width: 114px;
  }
  #drum-select-header {
    width: 114px;
  }
  .effect {
    width: 146px;
  }
  #start {
    font-size: 1.8em;
    margin-left: .3em;
  }
}

@media only screen and (min-width: 1975px) and (max-width: 2014px) {
/*      // #tempo right 5.3em;*/
  .synth-seq-header {
    width: 680px;
  }
  #drum-seq-header {
    width: 1412.5px;
  }
  .list-select {
    width: 152px;
  }
  #lead-seq {
    padding-left: 36px;
  }
  #lead-seq-header {
    margin-left: 2.25em;
  }
  #drum-select-container {
    width: 154px;
    margin-right: 4em;
  }
  #drum-effect-container {
    width: 154px;
    margin-left: 3.45em;
  }
  .select-header {
    width: 116px;
  }
  #drum-effect-header {
    width: 118px;
  }
  #drum-select-header {
    width: 118px;
  }
  .effect {
    width: 150px;
  }
  #start {
    font-size: 1.9em;
  }
}

@media only screen and (min-width: 2015px) and (max-width: 2054px) {
/*      // #tempo right 5.2em;*/
  .synth-seq-header {
    width: 700px;
  }
  #drum-seq-header {
    width: 1454px;
  }
  .list-select {
    width: 156px;
  }
  #lead-seq {
    padding-left: 36px;
  }
  #lead-seq-header {
    margin-left: 2.25em;
  }
  #drum-select-container {
    width: 158px;
  }
  #drum-effect-container {
    width: 158px;
  }
  .select-header {
    width: 120px;
  }
  #drum-effect-header {
    width: 122px;
  }
  #drum-select-header {
    width: 122px;
  }
  #bass-select-container {
    margin-left: 60px;
  }
  .effect {
    width: 154px;
  }
  #start {
    font-size: 1.95em;
  }
}

@media only screen and (min-width: 2055px) and (max-width: 2094px) {
/*  // #tempo right 5.1em;  */
  .synth-seq-header {
    width: 720px;
  }
  #drum-seq-header {
    width: 1493.5px;
  }
  .list-select {
    width: 160px;
  }
  #drum-select-container {
    width: 160px;
  }
  #drum-effect-container {
    width: 160px;
  }
  .select-header {
    width: 124px;
  }
  .effect {
    width: 158px;
  }
}

@media only screen and (min-width: 2095px) and (max-width: 2174px) {
  .synth-seq-header {
    width: 740px;
  }
  #drum-seq-header {
    width: 1533px;
  }
}

@media only screen and (min-width: 2175px) and (max-width: 2254px) {
  .synth-seq-header {
    width: 780px;
  }
  #drum-seq-header {
    width: 1612px;
  }
}

@media only screen and (min-width: 2255px) and (max-width: 2334px) {
  .synth-seq-header {
    width: 820px;
  }
  #drum-seq-header {
    width: 1693px;
  }
}

@media only screen and (min-width: 2335px) and (max-width: 2414px) {
  .synth-seq-header {
    width: 860px;
  }
  #drum-seq-header {
    width: 1772px;
  }
}

@media only screen and (min-width: 2415px) and (max-width: 2496px) {
  .synth-seq-header {
    width: 900px;
  }
  #drum-seq-header {
    width: 1851px;
  }
}  