body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Poppins';
  background-color: #3D3D3D;
}

#jam-canvas {
  width: 100%;
}

#nav {
  width: 100vw;
  height: 180px;
  margin: 0 auto;
  display: inline-flex;
  position: absolute;
  background: radial-gradient(2541.00px at 99.65% 49.73%, #B46A3F 0%, #DC7E50 13.14%, rgba(220, 131, 80, 0.86) 25.41%, #DC8350 50.74%, #CE7846 73.58%, #DC8350 87.19%, #B46A3F 100%);
}

.select-sub-header {
  font-size: 18px;
}

#header {
  width: 100vw;
  margin-top: .8em;
  font-size: 7em;
  font-family: 'Musicnet';
  font-weight: lighter;
  text-align: center;
  align-self: center;
}

#start {
  left: 2.9em;
  font-size: 2em;
  color: white;
  padding: .1em .9em .1em .9em;
  letter-spacing: 1px;
  position: absolute;
  align-self: center;
  background: #3D3D3D;
  border: 1px solid #3D3D3D;
}

#tempo {
  top: -.3em;
  position: absolute;
  right: 5.1em; 
  display: inline-block; 
  align-items: center;
}

#tempo-select {
  position: relative;
  left: 2.42em;
  padding-top: .2em;
  margin: 0;
  align-self: center;
}

#synth-container {
  position: relative;
  width: 100vw;
  margin-top: 12vh;
  align-items: center;
  height: 544px;
  display: inline-block;
  justify-content: center;
}

.sequencer {
  display: inline-block;
}

#tempo-header {
  background-color: rgba(255, 255,255,0);
  border-bottom: none;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-size: 1.55em;
}

#lead-container {
  margin-left: 1.8em;
  display: inline-block;
}

.synth-seq-header {
  width: 940px;
  margin-left: 2.5em;
  background-color: #46ABAA;
}

#drum-seq-header {
  width: 1932px;
  background-color: #46ABAA;
}

#drum-seq-footer {
  width: 1684px;
  background-color: #46ABAA;
  border-bottom: 1px solid #46ABAA;
  text-align: left;
  padding: 0;
}

.drum-step {
  padding: 0 2.4em 0 2.4em;
  margin: 0 15.35em 0 0;
}

#step-13 {
  margin-right: 5em;
}

.select-header {
  margin-bottom: 0;
  width: 126px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  padding: .1em .9em .1em .9em;
  background-color: #DC8350;
  border-bottom: 1px solid #DC8358;
}

option:checked {
  box-shadow: 0 0 10px 100px #DC8350 inset;
  height: 1em;
  margin-bottom: .8em;
  padding-left: 0;
  padding-right: 0;
}

.list-select {
  width: 162px;
  height: 365px;
  outline: none;
  color: white;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 1em;
  background-color: #46ABAA;
  border-top: 0;
}

.vol-slider rect {
  fill: rgba(255, 255, 255, .64);

}

.vol-slider rect:nth-child(2) {
  fill: #DC8350;
}

.vol-slider circle {
  fill: white;
  stroke: none;
}

select {
  -webkit-border-radius: 0;
  border: 0;
  outline: 1px solid #DC8350;
  outline-offset: -1px;
}

option {
  padding-top: .6em;
  padding-bottom: .6em;
  height: 2em;
  text-align: center;
}

#lead-seq {
  margin: 0;
  display: inline-block;
  padding-left: 40px;
}

#lead-vol {
  display: inline-block;
  padding-left: 135px;
}

#bass-container {
  padding-left: .42em;
  display: inline-block;
}

.select-container {
  display: inline-block;
  margin: 60px;
  top: -.65em;
  position: relative;
  margin-right: 1em;
  width: 167px;
  align-content: center;
}

#bass-seq {
  padding-left: 2.5em;
  display: inline-block;
}

#bass-vol {
  display: inline-block;
  padding-left: 140px;
}

#bass-select-container {
  position: relative;
}

.effect {
  text-align: center;
  align-items: center;
  text-align-last: center;
  height: 34px;
  width: 162px;
  padding-top: 0;
  margin: 0 0 .3em 0;
  border: 1px solid #DC8350;
}

#drum-container {
  position: relative;
  display: inline-flex;
  margin-left: .48em;
}

#drum-seq-container {
  display: inline-block;
}

#drum-select-container {
  width: 162px;
  height: 434px;
  outline: none;
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: #46ABAA;
  border-top: 0;
  margin: .7em 64px .4em 81px;
}

#drum-effect-container {
  width: 162px;
  height: 434px;
  outline: none;
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: #46ABAA;
  border-top: 0;
  margin-left: 64px;
}

.drum-select {
  outline: none;
  width: 8em;
  margin-top: .72em;
  margin-bottom: .714em;
  width: 126px;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 1px;
  text-align-last: center;
  padding: .1em .9em .1em .9em;
  background-color: #46ABAA;
}


.drum-effect {
  letter-spacing: 1px;
  border: none;
  background-color: #46ABAA;
  color: white;
  font-size: 18px;
  width: 140px;
  padding: .8em;
}

.drum-effect:focus {
  outline: none;
}

#drum-select-header {
  margin: 0;
}

#drum-effect-header {
  margin: 0;
}

#drum-vol {
  display: inline-block;
  padding-left: 116px;
}

.seq-title {
  padding: 0;
  padding-left: 1.4em;
  letter-spacing: .14em;
  margin: 0;
  color: white;
  display: inline-block;
}

#bass-title {
  display: inline-block;
}

#drum-title {
  display: inline-block;
  padding-left: 96px
}

h2 {
  font-family: 'Poppins', sans-serif;
  padding-top: 80px;
  padding-left: 50px;
}

circle {
  stroke: #3D3D3D;
  stroke-width: .3em;
}

path:nth-child(1) {
  fill-opacity: 1;
}

path:nth-child(4) {
  fill: #46ABAA;
  fill-opacity: 0;
}

path:nth-child(5) {
  fill: #DC8350;
  fill-opacity: 1;
}

#footer {
  width: 100vw;
  height: 140px;
  margin: 0 auto;
  bottom: -2.3em;
  display: inline-flex;
  position: relative;
  background: radial-gradient(2541.00px at 99.65% 49.73%, #B46A3F 0%, #DC7E50 13.14%, rgba(220, 131, 80, 0.86) 25.41%, #DC8350 50.74%, #CE7846 73.58%, #DC8350 87.19%, #B46A3F 100%); 
}

#copyright {
  width: 100vw;
  margin-bottom: 2.2em;
  font-size: 1.5em;
  font-family: 'Poppins';
  font-weight: lighter;
  text-align: center;
  align-self: center;
}


@media only screen and (min-width: 775px) and (max-width: 824px) {
  .synth-seq-header {
    width: 292;
  }
  #drum-seq-header {
    width: 592;
  }
  .list-select {
    width: 53;
  }
  .select-sub-header {
    font-size: 6px;
    padding-left: 0;
  }
  .select-container {
    width: 69;
    margin-right: 0;
  }
  #lead-select-container {
    width: 55.5;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 55;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 55;
    margin-left: .4em;
  }
  .drum-effect {
    width: 29;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 37;
    font-size: 9px;
  }
  .drum-select {
    width: 27;
  }
  #bass-select-header {
    width: 37;
  }
  #drum-effect-header {
    width: 39;
  }
  #drum-select-header {
    width: 39;
  }
  .effect {
    width: 51;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 825px) and (max-width: 874px) {
  .synth-seq-header {
    width: 318;
  }
  #drum-seq-header {
    width: 644;
  }
  .synth-seq-header {
    width: 318;
  }
  #drum-seq-header {
    width: 644;
  }
  .list-select {
    width: 53;
  }
  .select-sub-header {
    font-size: 6px;
    padding-left: 0;
  }
  .select-container {
    width: 69;
    margin-right: 0;
  }
  #lead-select-container {
    width: 55.5;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 55;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 55;
    margin-left: .4em;
  }
  .drum-effect {
    width: 29;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 37;
    font-size: 9px;
  }
  .drum-select {
    width: 27;
  }
  #bass-select-header {
    width: 37;
  }
  #drum-effect-header {
    width: 39;
  }
  #drum-select-header {
    width: 39;
  }
  .effect {
    width: 51;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}


@media only screen and (min-width: 875px) and (max-width: 924px) {
  .vol-slider {
    position: relative;
    top: 5px;
  }
  .vol-slider rect {
    height: 5;
  }
  .seq-title {
    font-size: .7em;
  }
  .synth-seq-header {
    width: 332;
    height: 15;
  }
  #drum-seq-header {
    width: 670;
  }
  .list-select {
    width: 61;
    height: 345;
  }
  .select-sub-header {
    font-size: 6px;
    padding-left: 0;
  }
  .select-container {
    width: 77 height: 433;
    margin-right: 0;
    top: -.95em;
  }
  #lead-select-container {
    width: 63.5;
    height: 426;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 63;
    height: 426;
    margin-right: .4em;
    margin-left: 34px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 63;
    height: 426;
    margin-left: .4em;
  }
  .drum-effect {
    width: 37;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header{
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 45;
    font-size: 9px;
  }
  .drum-select {
    width: 35;
  }
  #bass-select-header {
    width: 45;
  }
  #drum-effect-header {
    width: 47;
  }
  #drum-select-header {
    width: 47;
  }
  .effect {
    width: 59;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 925px) and (max-width: 974px) {
  .synth-seq-header {
    width: 356;
  }
  #drum-seq-header {
    width: 722;
  }
  .list-select {
    width: 67;
  }
  .select-sub-header {
    font-size: 8px;
    padding-left: 0;
  }
  .select-container {
    width: 77;
    margin-right: 0;
  }
  #lead-select-container {
    width: 69.5;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 69;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 69;
    margin-left: .4em;
  }
  .drum-effect {
    width: 43;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header{
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 49;
    font-size: 10px;
  }
  .drum-select {
    width: 41;
  }
  #bass-select-header {
    width: 50;
  }
  #drum-effect-header {
    width: 51;
  }
  #drum-select-header {
    width: 52;
  }
  .effect {
    width: 65;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 975px) and (max-width: 1024px) {
  .synth-seq-header {
    width: 368;
  }
  #drum-seq-header {
    width: 742;
  }
  .list-select {
    width: 73;
  }
  .select-sub-header {
    font-size: 8px;
    padding-left: 0;
  }
  .select-container {
    width: 93;
    margin-right: 0;
  }
  #lead-select-container {
    width: 75.5;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 75;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 75;
    margin-left: .4em;
  }
  .drum-effect {
    width: 49;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header{
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 55;
    font-size: 10px;
  }
  .drum-select {
    width: 47;
  }
  #bass-select-header {
    width: 56;
  }
  #drum-effect-header {
    width: 57;
  }
  #drum-select-header {
    width: 58;
  }
  .effect {
    width: 71;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1074px) {
  .vol-slider {
    position: relative;
    top: 5px;
  }
  .vol-slider rect {
    height: 5;
  }
  .seq-title {
    font-size: .8em;
  }
  .synth-seq-header {
    width: 388;
    height: 19;
  }
  #drum-seq-header {
    width: 782;
  }
  .list-select {
    width: 73;
    height: 346;
  }
  .select-sub-header {
    font-size: 8px;
    padding-left: 0;
  }
  .select-container {
    width: 93;
    height: 434;
    margin-right: 0;
    top: -.9em;
  }
  #lead-select-container {
    width: 75.5;
    height: 426.5;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 75;
    height: 426.5;
    margin-right: .4em;
    margin-left: 34px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 75;
    height: 426.5;
    margin-left: .4em;
  }
  .drum-effect {
    width: 49;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 55;
    font-size: 10px;
  }
  .drum-select {
    width: 47;
  }
  #bass-select-header {
    width: 56;
  }
  #drum-effect-header {
    width: 57;
  }
  #drum-select-header {
    width: 58;
  }
  .effect {
    width: 71;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1075px) and (max-width: 1124px) {
  .synth-seq-header {
    width: height;
  }
  #drum-seq-header {
    width: 808;
  }
  .list-select {
    width: 81;
  }
  .select-sub-header {
    font-size: 9px;
    padding-left: 0;
  }
  .select-container {
    width: 101;
    margin-right: 0;
  }
  #lead-select-container {
    width: 83.5;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 83;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 83;
    margin-left: .4em;
  }
  .drum-effect {
    width: 57;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 61;
    font-size: 11px;
  }
  .drum-select {
    width: 55;
  }
  #bass-select-header {
    width: 62;
  }
  #drum-effect-header {
    width: 63;
  }
  #drum-select-header {
    width: 64;
  }
  .effect {
    width: 79;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1125px) and (max-width: 1174px) {
  .synth-seq-header {
    width: 424;
  }
  #drum-seq-header {
    width: 854;
  }
  .list-select {
    width: 81;
  }
  .select-sub-header {
    font-size: 9px;
    padding-left: 0;
  }
  .select-container {
    width: 101;
    margin-right: 0;
  }
  #lead-select-container {
    width: 83.5;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 83;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 83;
    margin-left: .4em;
  }
  .drum-effect {
    width: 57;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 61;
    font-size: 11px;
  }
  .drum-select {
    width: 55;
  }
  #bass-select-header {
    width: 62;
  }
  #drum-effect-header {
    width: 63;
  }
  #drum-select-header {
    width: 64;
  }
  .effect {
    width: 79;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1175px) and (max-width: 1224px) {
  .vol-slider {
    position: relative;
    top: 5px;
  }
  .vol-slider rect {
    height: 5;
  }
  .seq-title {
    font-size: .9em;
  }
  .synth-seq-header {
    width: 455;
    height: 20;
  }
  #drum-seq-header {
    width: 917;
  }
  .list-select {
    width: 81;
    height: 346;
  }
  .select-sub-header {
    font-size: 9px;
    padding-left: 0;
  }
  .select-container {
    width: 101;
    height: 434;
    margin-right: 0;
    top: -.9em;
  }
  #lead-select-container {
    width: 83.5;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 83;
    height: 426.5;
    margin-right: .4em;
    margin-left: 34px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 83;
    height: 426.5;
    margin-left: .4em;
  }
  .drum-effect {
    width: 57;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 61;
    font-size: 11px;
  }
  .drum-select {
    width: 55;
  }
  #bass-select-header {
    width: 62;
  }
  #drum-effect-header {
    width: 63;
  }
  #drum-select-header {
    width: 64;
  }
  .effect {
    width: 79;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1225px) and (max-width: 1274px) {
  .synth-seq-header {
    width: 480;
  }
  #drum-seq-header {
    width: 968;
  }
  .list-select {
    width: 87;
  }
  .select-sub-header {
    font-size: 12px;
  }
  .select-container {
    width: 107;
    margin-right: 0;
  }
  #lead-select-container {
    width: 89.5;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 89;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 89;
    margin-left: .4em;
  }
  .drum-effect {
    width: 63;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 62;
    font-size: 14px;
  }
  .drum-select {
    width: 61;
  }
  #bass-select-header {
    width: 62;
  }
  #drum-effect-header {
    width: 64;
  }
  #drum-select-header {
    width: 64;
  }
  .effect {
    width: 85;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1275px) and (max-width: 1324px) {
  .synth-seq-header {
    width: 500;
  }
  #drum-seq-header {
    width: 1000;
  }
  .list-select {
    width: 93;
  }
  .select-sub-header {
    font-size: 12px;
  }
  .select-container {
    width: 113;
    margin-right: 0;
  }
  #lead-select-container {
    width: 95.5;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 95;
    margin-right: .4em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 95;
    margin-left: .4em;
  }
  .drum-effect {
    width: 69;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 68;
    font-size: 14px;
  }
  .drum-select {
    width: 67;
  }
  #bass-select-header {
    width: 68;
  }
  #drum-effect-header {
    width: 70;
  }
  #drum-select-header {
    width: 70;
  }
  .effect {
    width: 91;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1325px) and (max-width: 1374px) {
  .vol-slider {
    position: relative;
    top: 5px;
  }
  .vol-slider rect {
    height: 6;
  }
  .seq-title {
    font-size: 1em;
  }
  .synth-seq-header {
    width: 522;
    height: 25;
  }
  #drum-seq-header {
    width: 1051;
  }
  .list-select {
    width: 93;
    height: 346;
  }
  .select-sub-header {
    font-size: 12px;
  }
  .select-container {
    width: 113;
    height: 434;
    margin-right: 0;
    top: -.8em;
  }
  #lead-select-container {
    width: 95.5;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 95;
    height: 426.5;
    margin-right: .4em;
    margin-left: 34px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 95;
    height: 426.5;
    margin-left: .4em;
  }
  .drum-effect {
    width: 69;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .3em;
  }
  #bass-seq-header {
    margin-left: .3em;
  }
  #bass-select-container {
    margin-left: .15em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 68;
    font-size: 14px;
  }
  .drum-select {
    width: 67;
  }
  #bass-select-header {
    width: 68;
  }
  #drum-effect-header {
    width: 70;
  }
  #drum-select-header {
    width: 70;
  }
  .effect {
    width: 91;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1375px) and (max-width: 1424px) {
  .synth-seq-header {
    width: 540;
  }
  #drum-seq-header {
    width: 1090;
  }
  .list-select {
    width: 99;
  }
  .select-sub-header {
    font-size: 13px;
  }
  .select-container {
    width: 119;
    margin-right: 0;
  }
  #lead-select-container {
    width: 106;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 101;
    margin-right: .6em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 101;
    margin-left: .6em;
  }
  .drum-effect {
    width: 75;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .4em;
  }
  #bass-seq-header {
    margin-left: .4em;
  }
  #bass-select-container {
    margin-left: .4em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 72;
    font-size: 15px;
  }
  .drum-select {
    width: 73;
  }
  #bass-select-header {
    width: 72;
  }
  #drum-effect-header {
    width: 74;
  }
  #drum-select-header {
    width: 74;
  }
  .effect {
    width: 97;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1425px) and (max-width: 1454px) {
  .synth-seq-header {
    width: 561.5;
  }
  #drum-seq-header {
    width: 1133;
  }
  .list-select {
    width: 103;
  }
  .select-sub-header {
    font-size: 13px;
  }
  .select-container {
    width: 123;
    margin-right: 0;
  }
  #lead-select-container {
    width: 110;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 105;
    margin-right: .6em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 105;
    margin-left: .6em;
  }
  .drum-effect {
    width: 79;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .4em;
  }
  #bass-seq-header {
    margin-left: .4em;
  }
  #bass-select-container {
    margin-left: .4em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 76;
    font-size: 15px;
  }
  .drum-select {
    width: 77;
  }
  #bass-select-header {
    width: 76;
  }
  #drum-effect-header {
    width: 78;
  }
  #drum-select-header {
    width: 78;
  }
  .effect {
    width: 101;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1455px) and (max-width: 1534px) {
  .seq-title {
    font-size: 1.1em;
  }
  .synth-seq-header {
    width: 576;
  }
  #drum-seq-header {
    width: 1162;
  }
  .list-select {
    width: 110;
    height: 346;
  }
  .select-sub-header {
    font-size: 13px;
  }
  .select-container {
    width: 130;
    height: 433;
    margin-right: 0;
    top: -.75em;
  }
  #lead-select-container {
    width: 117;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 112;
    height: 426.5;
    margin-right: .6em;
    margin-left: 34px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 112;
    height: 426.5;
    margin-left: .6em;
  }
  .drum-effect {
    width: 76;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .4em;
  }
  #bass-seq-header {
    margin-left: .4em;
  }
  #bass-select-container {
    margin-left: .4em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 83;
    font-size: 15px;
  }
  .drum-select {
    width: 84;
  }
  #bass-select-header {
    width: 83;
  }
  #drum-effect-header {
    width: 85;
  }
  #drum-select-header {
    width: 85;
  }
  .effect {
    width: 108;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1535px) and (max-width: 1574px) {
  .synth-seq-header {
    width: 588;
  }
  #drum-seq-header {
    width: 1186;
  }
  .list-select {
    width: 122;
  }
  .select-sub-header {
    font-size: 14px;
  }
  .select-container {
    width: 142;
    margin-right: 0;
  }
  #lead-select-container {
    width: 136;
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 124;
    margin-right: 1.1em;
    margin-left: 34px;
  }
  #drum-effect-container {
    width: 124;
    margin-left: 1.1em;
  }
  .drum-effect {
    width: 88;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .4em;
  }
  #bass-seq-header {
    margin-left: .4em;
  }
  #bass-select-container {
    margin-left: 1.1em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 93;
    font-size: 16px;
  }
  .drum-select {
    width: 100;
  }
  #bass-select-header {
    width: 93;
  }
  #drum-effect-header {
    width: 96;
  }
  #drum-select-header {
    width: 96;
  }
  .effect {
    width: 120;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1575px) and (max-width: 1624px) {
  .seq-title {
    font-size: 1.2em;
  }
  .synth-seq-header {
    width: 602;
  }
  #drum-seq-header {
    width: 1215;
  }
  .list-select {
    width: 122;
    height: 345;
  }
  .select-sub-header {
    font-size: 14px;
  }
  .select-container {
    width: 142;
    height: 431;
    margin-right: 0;
    top: -.8em;
  }
  #lead-select-container {
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 124;
    height: 428;
    margin-right: 1.4em;
    margin-left: 34px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 124;
    height: 428;
    margin-left: 1.4em;
  }
  .drum-effect {
    width: 88;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: .4em;
  }
  #bass-seq-header {
    margin-left: .4em;
  }
  #bass-select-container {
    margin-left: 1.4em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 93;
    font-size: 16px;
  }
  .drum-select {
    width: 100;
  }
  #bass-select-header {
    width: 93;
  }
  #drum-effect-header {
    width: 95);
  }
  #drum-select-header {
    width: 96;
  }
  .effect {
    width: 120;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1625px) and (max-width: 1654px) {
  .synth-seq-header {
    width: 606;
  }
  #drum-seq-header {
    width: 1240;
  }
  .list-select {
    width: 126;
  }
  .select-sub-header {
    font-size: 16px;
  }
  .select-container {
    width: 146;
    margin-right: .4em;

  }
  #lead-select-container {
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 128;
    margin-right: 1.7em;
    margin-left: 35px;
  }
  #drum-effect-container {
    width: 128;
    margin-left: 1.7em;
  }
  .drum-effect {
    width: 92;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: 1.5em;
  }
  #bass-seq-header {
    margin-left: 1.5em;
  }
  #bass-select-container {
    margin-left: 1.7em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 94;
    font-size: 18px;
  }
  #bass-select-header {
    width: 94;
  }
  #drum-effect-header {
    width: 95;
  }
  #drum-select-header {
    width: 96;
  }
  .effect {
    width: 124;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1655px) and (max-width: 1694px) {
  .synth-seq-header {
    width: 606;
  }
  #drum-seq-header {
    width: 1240;
  }
  .list-select {
    width: 130;
  }
  .select-sub-header {
    font-size: 16px;
  }
  .select-container {
    width: 150;
    margin-right: .75em;
  }
  #lead-select-container {
    margin-left: 2.7em;
  }
  #drum-select-container {
    width: 132;
    margin-right: 2em;
    margin-left: 35px;
  }
  #drum-effect-container {
    width: 132;
    margin-left: 2.2em;
  }
  .drum-effect {
    width: 96;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: 1.5em;
  }
  #bass-seq-header {
    margin-left: 1.5em;
  }
  #bass-select-container {
    margin-left: 2.2em;
  }
  #bass-container {
    padding-left: 0;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 98;
    font-size: 18px;
  }
  #bass-select-header {
    width: 98;
  }
  #drum-effect-header {
    width: 99;
  }
  #drum-select-header {
    width: 100;
  }
  .effect {
    width: 128;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 1.85em;
  }
}

@media only screen and (min-width: 1695px) and (max-width: 1724px) {
  .seq-title {
    font-size: 1.3em;
  }
  .synth-seq-header {
    width: 614;
  }
  #drum-seq-header {
    width: 1271;
  }
  .list-select {
    width: 134;
    height: 345;
  }
  .select-sub-header {
    font-size: 16px;
  }
  .select-container {
    width: 154;
    height: 430;
    margin-right: .75em
    top: -.75em;
  }
  #lead-select-container {
    margin-left: 3em;
  }
  #drum-select-container {
    width: 136;
    margin-right: 2em;
    margin-left: 38px;
    top: -.7em;
  }
  #drum-effect-container {
    width: 136;
    height: 430;
    margin-left: 2.2em;
  }
  .drum-effect {
    width: 100;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 0em;
  }
  #bass-seq {
    padding-left: 2em;
  }
  #bass-seq-header {
    margin-left: 2em;
  }
  #bass-select-container {
    margin-left: 2.2em;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 102;
    font-size: 18px;
  }
  #bass-select-header {
    width: 102;
  }
  #drum-effect-header {
    width: 103;
  }
  #drum-select-header {
    width: 104;
  }
  .effect {
    width: 132;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em;
    left: 2em;
  }
}

@media only screen and (min-width: 1725px) and (max-width: 1774px) {
  .seq-title {
    font-size: 1.3em;
  }
  .synth-seq-header {
    width: 614;
  }
  #drum-seq-header {
    width: 1271;
  }
  .list-select {
    width: 134;
    height: 345;
  }
  .select-sub-header {
    font-size: 16px;
  }
  .select-container {
    width: 154;
    height: 430;
    top: -.7em;
  }
  #drum-select-container {
    width: 136;
    margin-right: 2.2em;
    margin-left: 61px;
  }
  #drum-effect-container {
    width: 136;
    height: 430;
    margin-left: 2.2em;
  }
  .drum-effect {
    width: 100;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: .6em;
  }
  #bass-seq {
    padding-left: 2em;
  }
  #bass-seq-header {
    margin-left: 2em;
  }
  #bass-select-container {
    margin-left: 2.2em;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 102;
    font-size: 18px;
  }
  #bass-select-header {
    width: 101;
  }
  #drum-effect-header {
    width: 104;
  }
  #drum-select-header {
    width: 104;
  }
  .effect {
    width: 132;
  }
  #start {
    font-size: 1.6em;
    margin-left: 0em
  }
} 
@media only screen and (min-width: 1775px) and (max-width: 1814px) {
  .synth-seq-header {
    width: 616;
  }
  #drum-seq-header {
    width: 1274.5;
  }
  .list-select {
    width: 140;
  }
  #drum-select-container {
    width: 142;
    margin-right: 2.6em;
    margin-left: 74.5px;
  }
  #drum-effect-container {
    width: 142;
    margin-left: 2.6em;
  }
  #lead-seq {
    padding-left: 0;
  }
  #lead-container {
    margin-left: 1.45em;
  }
  #bass-seq {
    padding-left: 2em;
  }
  #bass-seq-header {
    margin-left: 2em;
  }
  #bass-select-container {
    margin-left: 2.6em;
  }
  #lead-seq-header {
    margin-left: 0;
  }
  .select-header {
    width: 104;
  }
  #drum-effect-header {
    width: 106;
  }
  #drum-select-header {
    width: 106;
  }
  .effect {
    width: 138;
  }
  #start {
    font-size: 1.6em;
    margin-left: .3em
  }
}

@media only screen and (min-width: 1815px) and (max-width: 1854px) {
  .synth-seq-header {
    width: 617.5;
  }
  #drum-seq-header {
    width: 1285;
  }
  .list-select {
    width: 140;
  }
  #drum-select-container {
    width: 142;
    margin-right: 3.3em;
    margin-left: 80px;
  }
  #drum-effect-container {
    width: 142;
    margin-left: 3.2em;
  }
  #lead-seq {
    padding-left: 14px;
  }
  #bass-seq {
    padding-left: 2.3em;
  }
  #bass-seq-header {
    margin-left: 2.3em;
  }
  #bass-select-container {
    margin-left: 3.4em;
  }
  #lead-seq-header {
    margin-left: .9em;
  }
  .select-header {
    width: 104;
  }
  #drum-effect-header {
    width: 106;
  }
  #drum-select-header {
    width: 106;
  }
  .effect {
    width: 138;
  }
  #start {
    font-size: 1.6em;
    margin-left: .3em
  }
}

@media only screen and (min-width: 1855px) and (max-width: 1894px) {
  .synth-seq-header {
    width: 620;
  }
  #drum-seq-header {
    width: 1288;
  }
  .list-select {
    width: 140;
  }
  #drum-select-container {
    width: 142;
  }
  #drum-effect-container {
    width: 142;
    margin-left: 3.45em;
  }
  #lead-seq {
    padding-left: 18px;
  }
  #bass-seq {
    padding-left: 2.5em;
  }
  #lead-seq-header {
    margin-left: 1.1em;
  }
  .select-header {
    width: 104;
  }
  #drum-effect-header {
    width: 106;
  }
  #drum-select-header {
    width: 106;
  }
  .effect {
    width: 138;
  }
  #start {
    font-size: 1.6em;
    margin-left: .3em
  }
}

@media only screen and (min-width: 1895px) and (max-width: 1934px) {
  .synth-seq-header {
    width: 640;
  }
  #drum-seq-header {
    width: 1329.5;
  }
  .list-select {
    width: 144;
  }
  #drum-select-container {
    width: 146;
  }
  #drum-effect-container {
    width: 146;
  }
  #lead-seq {
    padding-left: 24px;
  }
  #lead-seq-header {
    margin-left: 1.5em;
  }
  .select-header {
    width: 108;
  }
  #drum-effect-header {
    width: 110;
  }
  #drum-select-header {
    width: 110;
  }
  .effect {
    width: 142;
  }
  #start {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 1935px) and (max-width: 1974px) {
/*      // #tempo right 5.4em  */
  .synth-seq-header {
    width: 660;
  }
  #drum-seq-header {
    width: 1371;
  }
  .list-select {
    width: 148;
  }
  #drum-select-container {
    width: 150;
    margin-right: 3.5em;
  }
  #drum-effect-container {
    width: 150;
  }
  #lead-seq {
    padding-left: 27px;
  }
  #lead-seq-header {
    margin-left: 1.7em;
  .select-header {
    width: 112;
  }
  #drum-effect-header {
    width: 114;
  }
  #drum-select-header {
    width: 114;
  }
  .effect {
    width: 146;
  }
  #start {
    font-size: 1.8em;
    margin-left: .3em;
  }
}

@media only screen and (min-width: 1975px) and (max-width: 2014px) {
/*      // #tempo right 5.3em;*/
  .synth-seq-header {
    width: 680;
  }
  #drum-seq-header {
    width: 1412.5;
  }
  .list-select {
    width: 152;
  }
  #drum-select-container {
    width: 154;
    margin-right: 4em;
  }
  #drum-effect-container {
    width: 154;
    margin-left: 3.45em;
  }
  .select-header {
    width: 116;
  }
  #drum-effect-header {
    width: 118;
  }
  #drum-select-header {
    width: 118;
  }
  .effect {
    width: 150;
  }
  #start {
    font-size: 1.9em;
  }
}

@media only screen and (min-width: 2015px) and (max-width: 2054px) {
/*      // #tempo right 5.2em;*/
  .synth-seq-header {
    width: 700;
  }
  #drum-seq-header {
    width: 1454;
  }
  .list-select {
    width: 156;
  }
  #lead-seq {
    padding-left: 36px;
  }
  #lead-seq-header {
    margin-left: 2.25em;
  }
  #drum-select-container {
    width: 158;
  }
  #drum-effect-container {
    width: 158;
  }
  .select-header {
    width: 120;
  }
  #drum-effect-header {
    width: 122;
  }
  #drum-select-header {
    width: 122;
  }
  #bass-select-container {
    margin-left: 60px;
  }
  .effect {
    width: 154;
  }
  #start {
    font-size: 1.95em;
  }
}

@media only screen and (min-width: 2055px) and (max-width: 2094px) {
/*  // #tempo right 5.1em;  */
  .synth-seq-header {
    width: 720;
  }
  #drum-seq-header {
    width: 1493.5;
  }
  .list-select {
    width: 160;
  }
  #drum-select-container {
    width: 160;
  }
  #drum-effect-container {
    width: 160;
  }
  .select-header {
    width: 124;
  }
  .effect {
    width: 158;
  }
}

@media only screen and (min-width: 2095px) and (max-width: 2174px) {
  .synth-seq-header {
    width: 740;
  }
  #drum-seq-header {
    width: 1533;
  }
}

@media only screen and (min-width: 2175px) and (max-width: 2254px) {
  .synth-seq-header {
    width: 780;
  }
  #drum-seq-header {
    width: 1612;
  }
}

@media only screen and (min-width: 2255px) and (max-width: 2334px) {
  .synth-seq-header {
    width: 820;
  }
  #drum-seq-header {
    width: 1693;
  }
}

@media only screen and (min-width: 2335px) and (max-width: 2414px) {
  .synth-seq-header {
    width: 860;
  }
  #drum-seq-header {
    width: 1772;
  }
}

@media only screen and (min-width: 2415px) and (max-width: 2496px) {
  .synth-seq-header {
    width: 900;
  }
  #drum-seq-header {
    width: 1851;
  }
}

@media only screen and (min-width: 2497px) {
  .synth-seq-header {
    width: 940;
  }
  #drum-seq-header {
    width: 1932;
  }
}  




